<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/profileStyles.css">

</head>
<body>

    <div class="page">

        <!-- navigation -->
        <div class="top-nav">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <!-- end navigation -->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div id="pic-container" class="col-3 user-icon"></div>

                        <div class="col-4 user-info">
                            <h2 id="user-fullname"></h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age"></h5>
                                    <h5>||</h5>
                                    <h5 id="user-city"></h5>
                                    <h5 id="user-state"></h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div id="user-bio"></div>
                        </div>

                        <div class="col-1">
                            <div  class="dropdown">
                                <button id="profile-edit" class="btn" type="button" data-toggle="collapse" data-target="#collapse-edit" aria-expanded="false" aria-controls="collapse-edit">
                                    Edit
                                </button>
                            </div>
                        </div>
                </div>
                <div class="collapse" id="collapse-edit">
                    <form>
                        <div class="form-group">
                            <label for="updateImg">Img</label>
                            <input id="updateImg" type="submit" value="Upload Image" name="submit">
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                        <div class="form-group">
                            <label for="updateCity">City</label>
                            <input type="email" class="form-control" id="updateCity" placeholder="Seattle">
                        </div>
                        <div class="form-group">
                            <label for="updateLocation">State</label>
                            <select class="form-control" id="updateState">
                                <%- include('../partials/states.ejs'); -%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="updateBio">Bio</label>
                            <textarea class="form-control" id="updateBio" rows="1"></textarea>
                        </div>
                        <button id="updateButton" type="submit" class="btn btn-dark">Submit</button>
                        <input type='button' value='Delete Account' class="btn-danger" id="dialogBtn"/>
                    </form>
                    <div id="error-message"></div>
                    <div id='modal_dialog'>
                        <div id="modal-content">
                        <div class='title'></div>
                        <input type='button' value='yes' id='dialogBtnYes' />
                        <input type='button' value='no' id='dialogBtnNo' />
                        </div>
                    </div>
                </div>
                    <!--Sign-Out-->
                    <div>
                        <button id="sign-out" type="button" class="btn btn-none" onclick="signOut();">Sign-out</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end user card-->

    </div>

<%- include('../partials/footer/footer'); -%>
</body>
</html>