<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/profileStyles.css">

</head>
<body>

    <div class="page">

        <!-- navigation -->
        <div class="top-nav">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <!-- end navigation -->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <!--Replace with JavaScript.-->
                            <img id="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>

                        <div class="col-7 user-info">
                            <!--Replace with JavaScript.-->
                            <h2 id="user-fullname">User's Name</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <!--Replace with JavaScript.-->
                                    <h5 id="user-age">18</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <!--Replace with JavaScript.-->
                                <p>"Wow haha that's so cool you spent four months in Vietnam – but I can't look past the world emoji." <br> - <strong>*user-fullname*</strong></p>
                            </div>

                            <div class="user-tags">
                                <h5>Interest:</h5>
                                <div id="tag-container" class="row">
                                    <!--Replace with JavaScript.-->
                                    <h4><span id="tags" class="badge badge-secondary">Hiking</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Dogs</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Basketball</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Hiking</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Dogs</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Basketball</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Hiking</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Dogs</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Basketball</span></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-1">
                            <div  class="dropdown">
                                <button id="profile-edit" class="btn" type="button" data-toggle="collapse" data-target="#collapse-edit" aria-expanded="false" aria-controls="collapse-edit">
                                  Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapse-edit">
                    <div class="row">
                        <div class="col-6">
                            <div class="edit-buttons" role="group" aria-label="edit-buttons">
                                <!--Add functions to change and save on user session-->
                                <button id="profile-edit" type="button" class="btn btn-secondary">Picture</button>
                                <button id="profile-edit" type="button" class="btn btn-secondary">Location</button>
                                <button id="profile-edit" type="button" class="btn btn-secondary">Bio</button>
                                <button id="profile-edit" type="button" class="btn btn-secondary">Tags</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <!--Sign-Out-->
                            <a id="sign-out" type="button" class="btn btn-none" onclick="signOut();">Sign-out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end user card-->

    </div>

<%- include('../partials/footer/footer'); -%>
</body>
</html>