<option>astronomy</option>
<option>basketball</option>
<option>biology</option>
<option>birdwatching</option>
<option>bodybuilding</option>
<option>bonsai</option>
<option>butterfly-watching</option>
<option>bus-riding</option>
<option>badminton</option>
<option>chemistry</option>
<option>camping</option>
<option>canoeing</option>
<option>canyoning</option>
<option>cars</option>
<option>caving</option>
<option>composting</option>
<option>cycling</option>
<option>cricket</option>
<option>cats</option>
<option>dogs</option>
<option>eating</option>
<option>football</option>
<option>farming</option>
<option>fishing</option>
<option>flag-football</option>
<option>hockey</option>
<option>jogging</option>
<option>knitting</option>
<option>kite flying</option>
<option>physics</option>
<option>psychology</option>
<option>soccer</option>
<option>sun bathing</option>
<option>surfing</option>
<option>survivalism</option>
<option>swimming</option>
<option>shooting</option>
<option>tennis</option>
<option>table-tennis</option>
<option>taekwondo</option>
<option>tai-chi</option>
<option>tacos</option>
<option>volleyball</option>
<option>video-games</option>
<option>walking</option>





