html, body{
    background-color: #EAF2E3;
}

.interaction{
    display: flex;
    justify-content: center;
    background-color: #EAF2E3;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

.interaction .card {
    background-color: #EAF2E3;
    box-shadow: 5px 5px rgba(46, 134, 171, 0.4),
    10px 10px rgba(46, 134, 171, 0.3),
    15px 15px rgba(46, 134, 171, 0.2),
    20px 20px rgba(46, 134, 171, 0.1),
    25px 25px rgba(46, 134, 171, 0.05);
    border: .5px solid #565554;
}

#interaction {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

#crushn-button {
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #F5F749;
    margin-bottom: 15%;
    color: #565554;
    box-shadow: 5px 5px rgba(46, 134, 171, 0.4),
    10px 10px rgba(46, 134, 171, 0.3),
    15px 15px rgba(46, 134, 171, 0.2),
    20px 20px rgba(46, 134, 171, 0.1),
    25px 25px rgba(46, 134, 171, 0.05);
    border: .5px solid #565554;
    font-family: 'Poiret One', cursive;
}

.top-nav {
    background-color: #EAF2E3;
    font-family: 'Poiret One', cursive;
    font-size: larger;
    font-size: 30px;
}

#nav-text {
    color: #F24236;
}

#signup-j {
    background-color: #EAF2E3;
    padding-top: 5%;
    margin-bottom: -2%;
}
.page {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #EAF2E3;
    font-family: 'Poiret One', cursive;
}

#submit-button {
    width: 5%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #F5F749;
    margin-bottom: 15%;
    color: #565554;
    box-shadow: 5px 5px rgba(46, 134, 171, 0.4),
    10px 10px rgba(46, 134, 171, 0.3),
    15px 15px rgba(46, 134, 171, 0.2),
    20px 20px rgba(46, 134, 171, 0.1),
    25px 25px rgba(46, 134, 171, 0.05);
    border: .5px solid #565554;
    font-family: 'Poiret One', cursive;
}

#footer {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #565554;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

