html {
    background-color: #EAF2E3;
    font-family: 'Poiret One', cursive;
}
.top-nav {
    background-color: #EAF2E3;
}
.modal-content {
    background-color: #EAF2E3;
    font-size: larger;
}
.page {
    width: 100%;
    height: 100%;
}

