<!-- footer -->
<div class="footer" id="footer">
    <div class="footer-content">
      <nav class="nav nav-pills flex-column flex-lg-row">
        <a id="nav-text" class="flex-sm-fill text-sm-center nav-link" href="#">N/A</a>
        <a id="nav-text" class="flex-sm-fill text-sm-center nav-link" href="#">N/A</a>
        <a id="nav-text" class="flex-sm-fill text-sm-center nav-link" href="#">N/A</a>
      </nav>
    </div>
</div>
<!-- end footer -->