<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/animate.css">
<link rel="stylesheet" href="/styles/signupStyles.css">
</head>
<body>

    <!-- navigation -->
    <div class="top-nav">
      <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a id="nav-text" class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="nav-text" class="nav-link" href="/profile">Profile</a>
          </li>
        </ul>
    </div>
    <!-- end navigation -->

  <div id="signup-j" class="jumbotron jumbotron-fluid">
    <div class="jumbo-content animate__animated animate__fadeIn">
      <div class="page">
        <form>
            <div class="form-row">
                <div class="col">
                    <label id="first-name">First Name</label>
                    <input id="inputFirst" type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col">
                    <label id="last-name">Last Name</label>
                    <input id="inputLast" type="text" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label id="address-field" for="inputAddress">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="email123@mail.com" required>
              </div>
              <div class="form-group col-md-6">
                <label id="address-field" for="inputAddress">Password</label>
                <input type="password" class="form-control" id="inputPassword" minlength="5" maxlength="12" required>
              </div>
            </div>        
            <div class="form-row">
              <div class="form-group col-md-6">
                <label id="city-field" for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" required>
              </div>
              <div class="form-group col-md-6">
                <label id="state-field" for="inputZip">State</label>
                <select id="inputState" class="form-control w-100">
                  <option selected>Choose...</option>
                  <%- include('../partials/states'); -%>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <div class="col">
                  <label id="age-field">Age</label>
                  <input id="inputAge" type="text" maxlength="3" min="18" max="100" class="form-control" placeholder="18" required>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="col">
                  <label id="gender-field">Gender</label>
                  <select id="userGender" class="form-control" required>
                    <option  value="m" selected>Male</option>
                    <option value="f">Female</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="col">
                  <label id="prefence-field">Prefence</label>
                  <select id="userPrefrence" class="form-control" required> 
                    <option value="m" selected>Male</option>
                    <option value="f">Female</option>
                    <option value="mf">Both</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="error-message">

            </div>
            <button id="submit-button" type="submit" name="submit" class="btn btn-warning">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

<%- include('../partials/footer/footer'); -%>
</body>
</html>