<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/animate.css">
<link rel="stylesheet" href="/styles/indexStyles.css">
<link rel="stylesheet" href="cards.css">

</head>
<body>

    <!-- Modal -->
    <div id="myModal" class="modal fade in">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">Welcome to Crushn'!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Please Sign-up to start! If you already have an account then sign-in below.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="window.open('signup.html')">Sign-up</button>
            <button type="button" class="btn btn-primary">Sign-in</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal -->

    <!-- navigation -->
    <div class="top-nav">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="/signup">Sign-up</a>
        </li>
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
    <!-- end navigation -->

    <!-- logo -->
    <div class="interaction">
      <div class="card w-75">
        <div id="interaction" class="card-body">
          <div class="sign">
            <span class="fast-flicker">C</span>RUS<span class="flicker">H</span>N'
          </div>
        </div>

        <!-- toggle user cards -->
        <div id="user-cards">

        </div>
        <button id="crushn-button" class="btn" onclick="shuffle()">GET CRUSHN'</button>
        <!-- end toggle user cards -->

        </div>
        </div>
      </div>
    <!-- end logo -->

<%- include('../partials/footer/footer'); -%>

<!-- script for button -->

<script>
  // this function will render user cards to the screen 
function shuffle() {

  let cardContainer = document.getElementById("user-cards")
  console.log(cardContainer);

  const fakeDb = [0];

  var userCard = fakeDb.map((userInfo) => {
    return `
        <div class="card mb-3" style="max-width: 600px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div id="user-cards" class="card-body">
                <h5 class="card-title">Users Name</h5>
                <p class="card-text">Bio</p>
                <h4><span id="tags" class="badge badge-secondary">??</span></h4>
                <a href="#" class="btn text-danger">View Profile</a>
              </div>
            </div>
          </div>
        </div>
    `

  });

  cardContainer.innerHTML = userCard.join(" ")
  console.log(userCard);
};

</script>

<!-- end script for button  -->

</body>
</html>