<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/profileStyles.css">

<body>

    <div class="page">

        <!-- navigation -->
        <div class="top-nav">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
        <!-- end navigation -->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img id="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">William Thompson</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">19</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"Carefully written, fact-checked essay in the streets, unmoderated comment section in the sheets" <br> - <strong>*William Thompson*</strong></p>
                            </div>

                            <div class="user-tags">
                                <h5>Interest:</h5>
                                <div id="tag-container" class="row">
                                    <h4><span id="tags" class="badge badge-secondary">Coding</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Dogs</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Basketball</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Video-Games</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Tacos</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Beaches</span></h4>
                                    <h4><span id="tags" class="badge badge-secondary">Aliens!</span></h4>
                                </div>
                            </div>
                        </div>
        <!-- end user card-->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img id="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">Andre Davis</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">??</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"??" <br> - <strong>*??*</strong></p>
                            </div>

                            <div class="user-tags">
                                <h5>Interest:</h5>
                                <div id="tag-container" class="row">
                                    <h4><span id="tags" class="badge badge-secondary">??</span></h4>
                                </div>
                            </div>
                        </div>
        <!-- end user card-->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img id="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">Jason Wilger</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">??</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"??" <br> - <strong>*??*</strong></p>
                            </div>

                            <div class="user-tags">
                                <h5>Interest:</h5>
                                <div id="tag-container" class="row">
                                    <h4><span id="tags" class="badge badge-secondary">??</span></h4>
                                </div>
                            </div>
                        </div>
        <!-- end user card-->

    </div>

<%- include('../partials/footer/footer'); -%>