<%- include('../partials/header/header'); -%>
<link rel="stylesheet" href="/styles/aboutStyles.css">

</head>
<body>

    <div class="page">

        <!-- navigation -->
        <div class="top-nav">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/signup">Sign-up</a>
                </li>
                <li class="nav-item">
                <a id="nav-text" class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
        <!-- end navigation -->
        <br>
        <!-- Summary -->
        <div class="offset-3 summary">
            <h1>Crushn'</h1>
            <p>Tired of being lonely? In need of some human interaction? Look no further then Crushn'! 
               Create a profile, select a distance, choose what tags and traits are specific to you. 
               All that's left to do is hit that button and get Crushn'! We are not liable for any bad dates.</p>
        </div>
        <hr>
        <!-- End Summary -->

        <!-- user card -->
        <br>
        <h1 class="offset-1" id="aboutUs">About Us:</h1>
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img class="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">William Thompson</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">19</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"Carefully written, fact-checked essay in the streets, unmoderated comment section in the sheets" <br> - <strong>*William Thompson*</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end user card-->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img class="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">Andre Davis</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">31</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"Nerdy quote or something" <br> - <strong>*Andre Davis*</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end user card-->

        <!-- user card -->
        <div class="content-holder">
            <div class="user-card animate__animated animate__fadeIn">
                <div class="row">
                    <div class="row">
                        <div class="col-4 user-icon">
                            <img class="profile-picture" src="/img/mymainmanmorgan.webp" alt="profile-picture">
                        </div>
                        <div class="col-7 user-info">
                            <h2 id="user-fullname">Jason Wilger</h2>
                            <hr>
                            <div class="user-vitals">
                                <div id="user-vitals" class="row">
                                    <h5 id="user-age">24</h5>
                                    <h5>||</h5>
                                    <h5 id="user-location">Atlanta, GA</h5>
                                    <h5>||</h5>
                                </div>
                            </div>
                            <br>

                            <div class="user-bio">
                                <p>"I got a wife" <br> - <strong>*Jason Wilger*</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end user card-->

    </div>

<%- include('../partials/footer/footer'); -%>
</body>
</html>