<!-- navigation -->
<div class="top-nav">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="signup/signup.html">Sign-up</a>
        </li>
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="profile/profile.html">Profile</a>
        </li>
    </ul>
</div>
<!-- end navigation -->